@import url(./fonts.css);

@keyframes slideUp {
  from {
    transform: translateY(110%);
  }

  to {
    transform: none;
  }
}

body {
  background-color: transparent;
}

.contact-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  height: calc(40px + 3vw);
  min-height: calc(40px + 30px);
  background-color: black;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 50;
}

.contact-title {
  color: lightyellow;
  font-family: Spectral;
  font-size: 3vw;
}

.contact-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background-color: lightyellow;
}

.contact-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-informations {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 50;
}

.contact-info {
  display: flex;
  align-items: center;
  width: 80%;
  animation-delay: 1s;
  overflow: hidden;
}

.contact-info svg {
  width: 40px;
  margin-right: 20px;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, -0.05, .5, .92);
  animation-delay: 1s;
}

.contact-info span {
  font-family: Spectral;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, -0.05, .5, .92);
  font-size: 2vw;
  animation-delay: 1s;
}

.contact-right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.map {
  height: 80%;
  aspect-ratio: 1/1;
  z-index: 100;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, -0.05, .5, .92);
  animation-delay: 1s;
}


.contact-background-container {
  background-image: url("./assets/medias/bouteille.jpg");
  background-size: cover;
  background-position: 50%;
  filter: sepia() brightness(50%);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  top: 0;
}